#ingredient-detail {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#ingredient-detail-back-border {
    position: absolute;
    top: 10vh;
    left: 3vh;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background: var(--gradient);
    cursor: pointer;
}

#ingredient-detail-back {
    background-color: var(--background);
    margin: 2px;
    padding: 5px 10px;
    border-radius: 2px;
}

/* Title */
#ingredient-detail-title {
    margin-bottom: 50px;
}

/* Restrictions */
#ingredient-detail-restrictions-area {
    display: flex;
    gap: 20px;
}

.ingredient-detail-restrictions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 90px;
}

.ingredient-detail-restrictions-icon {
    width: 50px;
    height: 50px;
}

.ingredient-detail-restrictions-text {
    user-select: none;
}


/* Tages */
#ingredient-detail-tags-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: fit-content;
}

#ingredient-detail-tags-title {
    user-select: none;
    font-weight: bold;
    margin-bottom: 10px;
}

#ingredient-detail-tags-list {
    display: flex;
    flex-direction: column;
    width: fit-content;
    gap: 5px;
}

.ingredient-detail-tags {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 5px;
    user-select: none;
}

.ingredient-detail-tags-label {
    padding: 2px 5px;
    margin: 2px;
    border-radius: 5px;
    font-size: 0.8em;
    cursor: default;
}

#ingredient-detail-tags-new {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select: none;
    gap: 5px;
}