#body {
  display: flex;
  flex-direction: column;
  padding: 0px;
  margin: 0px;

  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#page {
  min-height: 80vh;
  padding: 0% 2vw;
}

/* TEST */
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
