#docs-content {
    display: flex;
    min-height: inherit;
    width: 100vw;
}

/*============*
 * Left Part  *
 *============*/

#docs-left {
    width: 30vw;
    min-height: inherit;
    background: linear-gradient(180deg, rgba(244,247,255,1) 0%, rgba(92,127,217,1) 100%);
}

.docs-infos-title {
    cursor: pointer;
}

.docs-infos {
    margin-top: -15px;
    padding: 5px;
    text-align: left;
}

.docs-infos-line {
    width: 80%;
}

.docs-infos-color {
    margin: 2px;
    font-weight: bold;
}

/* Arrows */
.docs-double-arrow {
    width: 30px;
    padding: 5px;
}

#docs-hide-left {
    display: flex;
    margin-left: auto;
    margin-right: 0%;
}

#docs-show-left {
    display: flex;
    transform: rotate(180deg);
}

/*============*
 * Right Part *
 *============*/

#docs-right {
    width: 100%;
}

#docs-content-add {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.docs-content-add-elt {
    cursor: pointer;
    font-weight: bold;
}

.doc-block-area {
    display: flex;
}

.doc-block-area:hover .block-icon {
    display: flex;
}