#recipes {
    padding: 0% 5%;
    min-height: 30vh;
}

.recipes-restrictions {
    display: flex;
    justify-content: center;
    gap: 2px;
}

/* Icons */
.recipes-restrictions-icon {
    width: 20px;
    height: 20px;
    padding: 1px;
}

.recipes-icons {
    width: 20px;
    height: 20px;
}

.recipes-list-table-cell-tag {
    padding: 2px 5px;
    margin: 2px;
    border-radius: 5px;
    font-size: 0.8em;
    height: fit-content;
}

.recipes-list-table-cell-time-line {
    display: flex;
    gap: 5px;
    padding: 2px 5px;
}