.block-image {
    width: 100%;
    display: flex;
}

.block-image-elt-area {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.block-image-elt {
    width: calc(100% -20px);
    min-height: fit-content;
    padding: 5px;
    resize: none;
    background-color: transparent;
}

#block-image-elt-top  {
    border-radius: 5px 0 0;
}

#block-image-align {
    display: flex;
    justify-content: space-between;
    width: calc(100% -20px);
}