.block {
    display: flex;
    text-align: left;
    height: fit-content;
    min-height: 20px;
    width: calc(100% - 20px);
}

.block-icon {
    width: 20px;
    height: 20px;
    cursor: pointer;
    display: none;
}

.block:hover .block-icon {
    display: flex;
}
