.block-text-text {
    width: 50%;
    min-height: fit-content;
    padding: 10px;
    resize: none;
}

.block-text-preview {
    min-height: fit-content;
    height: 100%;
    padding: 0 10px;
}

table {
    border-collapse: collapse;
}

thead:first-child {
    background-color: rgb(203, 203, 203);
}

th, td {
    border: 1px solid gray;
    padding: 5px;
}