.page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 93vh;
    text-align: center;
}

/* ========= *
 *  Button   *
 * ========= */
.button-border {
    background: var(--gradient);
    border-radius: 5px;
    cursor: pointer;
    padding: 2px;
    width: fit-content;
}

.button-inside {
    background-color: var(--background);
    padding: 5px 10px;
    border-radius: 2px;
    width: fit-content;
}

.button-inside:hover {
    background: var(--gradient-color3-light);
}

/* Delete */
.button-border-delete-true {
    background: rgb(255, 12, 12);
}
.button-inside-delete-true:hover {
    background: rgb(255, 199, 199);
}

/* =========== *
 *  Checkbox   *
 * =========== */
.checkbox {
    width: 25px;
    height: 25px;
    background: var(--gradient);
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkmark-area {
    background-color: var(--background);
    width: 21px;
    height: 21px;
    border-radius: 2px;
    margin: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkmark {
    margin-top: -4px;
    width: 5px;
    height: 10px;
    border: solid var(--gradient-color3);
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* ======== *
 *  Colors  *
 * ======== */
.Blanc {
    color: white;
}

.Noir {
    color: black;
}

.Gris {
    color: gray;
}

.Marron {
    color: brown;
}

.Orange {
    color: #E58605;
}

.Jaune {
    color: yellow;
}

.Vert {
    color: #1EBA16;
}

.Turquoise {
    color: turquoise;
}

.Cyan {
    color: #0EC2DF;
}

.Bleu {
    color: blue;
}

.Bordeaux {
    color: purple;
}

.Violet {
    color: #7F3ADE;
}

.Rose {
    color: #D733B6;
}

.Rouge {
    color: red;
}