#home-content {
    display: flex;
    width: 80%;
}

/*========= *
*   NOTES   *
**==========*/
#notes-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
}

#note-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#notes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.notes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.note {
    width: 200px;
    height: fit-content;
    min-height: 200px;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    /*shadow*/
    box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.2);
}

.note-title {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    width: 100%;
}

.note-content {
    height: calc(200px - 85px);
}

/*========== *
*   EVENTS   *
**===========*/
#home-content-right {
    width: 30%;
}

#events {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
